* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: url("/TO-DO-List_Jessica_ADA/IMG/time-organization-concept-close-up.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.container {
    background-color: #d1d1d1;
    width: 31.25rem;
    border-radius: 0.625rem;
    padding: 1.25rem;
    margin: 6.25rem auto 0;
}

.input-task {
    border: none;
    border-radius: 0.3125rem; 
    width: 18.75rem; 
    height: 2.5rem; 
    padding-left: 0.625rem; 
    margin-bottom: 1rem;
}

.button-add-task {
    border: none;
    border-radius: 0.3125rem; 
    height: 2.5rem; 
    background-color: #aa0161;
    color: #ffffff;
    font-size: 1.0625rem; 
    padding: 0 0.9375rem;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.6;
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 1.875rem;
}

.task {
    background-color: #F2F2F2;
    box-shadow: 0.0625rem 0.25rem 0.625rem rgba(0, 0, 0, 0.2); 
    height: 3.125rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.9375rem;
    border-radius: 0.3125rem; 
    margin-bottom: 1.25rem;
    cursor: pointer;
}

img {
    height: 1.5625rem; 
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: #ff7bed;
    text-decoration: line-through;
}

@media (max-width: 768px) {
    .container {
        width: 90%; 
        margin: 3rem auto 0;
    }

    .input-task {
        width: 100%; 
    }

    .button-add-task {
        width: 100%; 
        margin-top: 1rem; 
    }

    .list-tasks {
        margin-top: 1.5rem; 
    }

    .task {
        height: 3.5rem; 
    }

    img {
        height: 1.875rem; 
    }
}
